@import "../core/config";

.footer {
  padding: $base-unit * 3 0;
}

.footer-main {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.footer-main__logo {
  max-width: $base-unit * 5;
  flex-basis: $base-unit * 5;
  margin-right: $base-unit * 2;

  img {
    width: 100%;
    display: block;
  }
}
