<header class="header">
    <ul class="header-links-list">
        <li class="header-links-list__item">
            <a href="" class="header-links-list__link">Item1</a>
        </li>
        <li class="header-links-list__item">
            <a href="" class="header-links-list__link">Item2</a>
        </li>
        <li class="header-links-list__item">
            <a href="" class="header-links-list__link">Item3</a>
        </li>
        <li class="header-links-list__item">
            <a href="" class="header-links-list__link">Item4</a>
        </li>
        <li class="header-links-list__item">
            <a href="" class="header-links-list__link">Item4</a>
        </li>
        <li class="header-links-list__item">
            <a href="" class="header-links-list__link">Item4</a>
        </li>
    </ul>
</header>