<header class="header">
  <div class="header-logo">
    <a href="/" class="header-logo__link">
      <img src="{{site.header_logo_url}}"
           class="header-logo__image"
           style="max-height: 48px"
           alt="{{site.project_name}}">
    </a>
  </div>
  <ul class="header-links-list">
    {% for item in site.data.navigation.main %}
      <li class="header-links-list__item">
        {% if page.url == item.url or page.category == item.category %}
          <a href="{{item.url | prepend: site.baseurl  }}" class="header-links-list__link _active">{{item.title}}</a>
        {% else %}
          <a href="{{item.url | prepend: site.baseurl }}" class="header-links-list__link">{{item.title}}</a>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</header>
