

$breakpoints: (
  // Medium: tablet
  md: 1000px,
  // Large: tablet, mini-laptop
  lg: 1300px,
  // Extralarge: laptop, desktop
  xlg: 1540px,
);


$breakpoints-default: (
  default: 0
) !default;

$breakpoints-with-default: map_merge($breakpoints-default, $breakpoints);


$font-family-base: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

$color-white: #ffffff;
$color-athens-gray: #eaeaec;
$color-silver-gray: #afb1b3;
$color-dove-gray: #696969;
$color-cod-gray: #3c3f43;
$color-dark: #161616;
$color-azure: #27a4f7;
$color-tomato: #ec5424;

$base-unit: 8px;

$header-height: $base-unit * 8;

$sidebar-width: $base-unit * 38;
$sidebar-width-md: $base-unit * 28;
