@import './config';
@import './utils';

html {
  height: 100%;

  // Disable -webkit-tap-highlight
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  min-width: 960px;
  height: 100%;
  font-family: $font-family-base;

  color: $color-dark;
}

.page {
  display: flex;
  flex-direction: column;

  height: 100%;
  overflow: hidden;
}

.page__header,
.page__footer {
  flex-shrink: 0; /* 2 */
}

.page__footer {
  &._bg-cod-gray {
    background-color: $color-cod-gray;
  }
}

.page__content {
  display: flex;
  align-items: stretch;
  text-rendering: optimizeLegibility;
  font-smoothing: antialiased;

  flex: 1 0 auto;

  position: relative;
  max-height: calc(100% - 64px);
}

.article-content {
  @include media-breakpoint-down(md) {
    margin-left: $sidebar-width-md;
    padding: $base-unit * 4 $base-unit * 4 $base-unit * 4 0;
  }

  position: relative;
  box-sizing: border-box;
  margin-left: $sidebar-width;
  padding: $base-unit * 8 $base-unit * 8 $base-unit * 8 0;
  flex-grow: 1;
  flex-basis: 0;
  flex-shrink: 0;

  overflow-y: auto;

  &::after {
    display: block;
    content: '';
    width: 100%;
    height: $base-unit * 8;
  }
}

.article-content__header,
.article-content__body {
  @include media-breakpoint-down(md) {
    padding-left: $base-unit * 6;
  }

  box-sizing: border-box;
  max-width: 1024px;
  padding-left: $base-unit * 10;
}

.dock-header {
  margin-bottom: $base-unit * 8;
}

.dock-header__title {
  margin-bottom: 5px;
  font-weight: 600;
  line-height: 1.25;
  font-size: 2em;
}

.dock-header__description {
  font-size: 1.2em;
  line-height: 1.3;
  margin-bottom: 0;
  margin-top: $base-unit;
}

.dock-header__toc {
  margin-top: $base-unit * 8;
}

.section-nav {
  margin-bottom: $base-unit * 8 !important;
}

.octicon-link {
  width: 16px;
  height: 16px;
  background-image: url('data:image/svg+xml,<?xml version="1.0" encoding="utf-8"?><svg height="16" version="1.1" viewBox="0 0 16 16" width="16" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve"><path fill-rule="evenodd" d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z"></path></svg>');
  background-repeat: no-repeat;
}

.home-page-footer {
  box-sizing: border-box;
  padding: $base-unit * 3 0;
}
