@import "../core/config";
@import "~bootstrap-4-grid/scss/breakpoints/mixins/breakpoints";
@import "~bootstrap-4-grid/scss/grid/bootstrap-grid";
@import "~bootstrap-4-grid/scss/layout/mixins/visibility";
@import "~bootstrap-4-grid/scss/layout/utilities/visibility";

.page {
  display: flex;
  flex-direction: column;

  height: 100%;
}

.page__header,
.page__footer {
  flex-shrink: 0; /* 2 */
}

.page__footer {
  &._bg-cod-gray {
    background-color: $color-cod-gray;
  }
}

.page__content {
  position: relative;
  flex: 1 0 auto;

  &._layout-docs {
    display: flex;
    align-items: stretch;

    max-height: calc(100vh - 64px);
    height: calc(100vh - 64px);
    flex-basis: calc(100vh - 64px);
  }
}

.container {
  padding: 0 30px;
}

.article-content {
  @include media-breakpoint-down(md) {
    margin-left: $sidebar-width-md;
  }

  position: relative;
  box-sizing: border-box;
  margin-left: $sidebar-width;
  padding: $base-unit * 6 $base-unit * 10 0 0;
  flex-grow: 1;
  flex-basis: 0;
  flex-shrink: 0;

  overflow-y: auto;
}

.article-content__header,
.article-content__body,
.article-content__footer {
  box-sizing: border-box;
  max-width: 1024px;
  padding-left: $base-unit * 6;
}

.article-content__body {
  padding-bottom: $base-unit * 6;
}

.article-content__footer {
  .footer-main {
    padding-right: 0;
    padding-left: 0;
  }
}

.dock-header {
  @include media-breakpoint-down(md) {
    margin-bottom: $base-unit * 6;
  }

  margin-bottom: $base-unit * 8;
}

.dock-header__search-box-wrapper {
  margin-bottom: $base-unit * 4;
}

.dock-header__title {
  margin-bottom: $base-unit;
}

.dock-header__description {
  margin-bottom: 0;
  margin-top: $base-unit * 2;
}

.dock-header__toc {
  margin-top: $base-unit * 4;
}

.toc {}

.toc__title {
  margin-bottom: $base-unit * 2;
}

.toc__content {
  font-weight: $font-weight-bold;

  a {
    @extend .text-link;
    font-size: 16px;
    line-height: $base-unit * 4;
  }
}

.octicon-link {
  width: 16px;
  height: 16px;
  background-image: url('data:image/svg+xml,<?xml version="1.0" encoding="utf-8"?><svg height="16" version="1.1" viewBox="0 0 16 16" width="16" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve"><path fill-rule="evenodd" d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z"></path></svg>');
  background-repeat: no-repeat;
}

.full-screen-navigation {
  box-sizing: border-box;
  padding-top: $base-unit * 2;
  padding-bottom: $base-unit * 2;
  background-color: $color-cod-gray;
}

.nav-with-icons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding-top: $base-unit * 2;
  padding-bottom: $base-unit * 2;

  color: $color-white;
  text-align: center;
  text-decoration: none;

  &:hover {
    opacity: 0.8;
  }
}

.nav-with-icons__icon {
}

.nav-with-icons__title {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  padding: $base-unit 0;
}

.footer {
  padding: $base-unit * 3 0;
}

.footer-main {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.footer-main__logo {
  max-width: $base-unit * 5;
  flex-basis: $base-unit * 5;
  margin-right: $base-unit * 2;

  img {
    width: 100%;
    display: block;
  }
}

.home-page-header {
  padding-top: $base-unit * 4;
  padding-bottom: $base-unit * 4;
}

.home-page-header__logo {
  @include media-breakpoint-down(md) {
    left: 0 !important;
  }

  margin-bottom: $base-unit;
  position: relative;
}
.home-page-header__slogan {}

.home-page-content {
  padding-bottom: $base-unit * 10;
}

.home-page-search {
  padding-top: $base-unit * 4;
}
