@import "../core/config";

.full-screen-navigation {
  box-sizing: border-box;
  padding-top: $base-unit * 2;
  padding-bottom: $base-unit * 2;
  background-color: $color-cod-gray;
}

.nav-with-icons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding-top: $base-unit * 2;
  padding-bottom: $base-unit * 2;

  color: $color-white;
  text-align: center;
  text-decoration: none;

  &:hover {
    opacity: 0.8;
  }
}

.nav-with-icons__icon {
}

.nav-with-icons__title {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  padding: $base-unit 0;
}
