/**
 * Dependencies
 */
@import '../core/config';

$input-unit: $base-unit;

// Color
$input-item-text-color: $color-dark;
$input-item-placeholder-color: $color-cod-gray;
$input-item-bg-color: $color-white;

$input-item-border: 1px solid $color-silver-gray;
$input-item-height: $input-unit * 6;

$input-font-size: 14px;

// Paddings
$input-padding-horizontal: $base-unit * 2;
$input-padding-vertical: $base-unit;
