---
layout: default
---

{% if page.caption_title != null %}
  {% assign title = page.caption_title %}
{% else %}
  {% assign title = page.title %}
{% endif %}

<div class="page__header">
  {% include header.html %}
</div>

<div class="page__content _layout-docs">
  {% include sidebar.html %}

  <article class="article-content">
    <header class="article-content__header dock-header">
      <h1 class="dock-header__title">{{title}}</h1>
      {% if page.status != 'todo' %}
        <p>{% include estimated-read-time.html %}</p>
      {% endif %}

      {% if page.description != null %}
        <p class="dock-header__description">
          {{page.description}}
        </p>
      {% endif %}

      {% if page.toc != false and site.render_toc_on_docs_layout != false%}
        <div class="dock-header__toc markdown-body">
          <h3>Table of contents:</h3>
          {% include toc.html html=content %}
        </div>
      {% endif %}
    </header>
    <div class="js-article-content article-content__body markdown-body">
      {% if page.status == 'todo' %}
        Coming soon...
      {% else %}
        {{ content }}
      {% endif %}
    </div>
  </article>
</div>
