@import '../core/config';
@import '../core/utils';

.sidebar {
  @include media-breakpoint-down(md) {
    width: $sidebar-width-md;
    max-width: $sidebar-width-md;
  }

  width: $sidebar-width;
  max-width: $sidebar-width;
  background-color: $color-athens-gray;
  padding-top: $base-unit * 4;

  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;

  overflow-y: auto;
}

.sidebar-tree {
  box-sizing: border-box;
  padding: 0 0 $base-unit $base-unit * 4;
}

.sidebar-tree__item {
  font-weight: 500;
  position: relative;
}

.sidebar-tree__collapse-button {
  position: absolute;
  top: 0;
  left: -$base-unit * 4;
}

.sidebar-tree__link {
  display: block;
  cursor: pointer;
  text-decoration: none;
  color: $color-dove-gray;
  font-size: 14px;

  padding: $base-unit / 2 $base-unit $base-unit / 2 0;

  &:hover {
    color: $color-dove-gray;
    text-decoration: underline;
  }

  &._active {
    font-weight: bold;
    color: $color-dark;
    text-decoration: none !important;
    cursor: default;
  }
}

.collapse {
  &._is-open {}
}

.collapse__button {
  position: absolute;
  width: $base-unit * 4;
  height: $base-unit * 4;

  cursor: pointer;

  &::after {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
    transition: transform 200ms;
    margin-top: 2px;
    margin-left: 4px;

    content: '';
    width: 6px;
    height: 13px;

    background: url("../icons/arrow.svg") no-repeat 50% 50%;
    background-size: 100% auto;
  }

  .collapse._is-open > &::after {
    transform: translate(-50%, -50%) rotate(90deg);
  }
}

.collapse__content {
  display: none;

  .collapse._is-open > & {
    display: block;
  }
}
