@import '../core/config';
@import '../core/utils';

.sidebar {
  @include breakpoint-down(md) {
    width: $sidebar-width-md;
    max-width: $sidebar-width-md;
  }

  width: $sidebar-width;
  max-width: $sidebar-width;
  background-color: $color-athens-gray;

  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;

  overflow-y: auto;
}

.toc-tree {
  box-sizing: border-box;
  padding: 30px 0 10px;
}

.toc-tree__title {
  display: block;
  color: $color-dove-gray;
  text-decoration: none;
  text-transform: uppercase;
  padding: $base-unit / 2 $base-unit $base-unit * 2 $base-unit * 3;
}

.toc-tree__item {
  font-weight: 500;
}

.toc-tree__link {
  display: block;
  cursor: pointer;
  text-decoration: none;
  color: $color-dove-gray;
  font-size: 16px;
  line-height: 18px;

  padding: $base-unit  $base-unit $base-unit $base-unit * 5;

  &:hover {
    color: $color-dove-gray;
    text-decoration: underline;
  }

  &._active {
    font-weight: bold;
    color: $color-dark;
    text-decoration: none !important;
    cursor: default;
    background-color: darken($color-athens-gray, 3%);
  }
}
