@import '../core/config';
@import '../core/utils';

.header {
  display: flex;
  width: 100%;
  height: $header-height;
  background-color: $color-dark;

  text-rendering: optimizeLegibility;
}

.header-logo {
  @include breakpoint-down(md) {
    min-width: $sidebar-width-md;
  }

  min-width: $sidebar-width;
  position: relative;
}

.header-logo__link {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  display: inline-block;
  outline: none;
  text-decoration: none;
  opacity: 1;
  margin-left: $base-unit * 3;

  &:hover {
    opacity: 0.9;
  }
}

.header-logo__image {
  display: block;
  width: auto;
  height: $header-height - $base-unit * 2;
}

.header-links-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  flex-basis: 0;
  flex-shrink: 0;
  max-width: 1024px;
}

.header-links-list__item {
  align-items: stretch;
  font-size: 18px;
  line-height: 16px;
  min-width: $base-unit * 6;
}

.header-links-list__link {
  display: block;

  padding: $base-unit * 3;
  outline: none;

  color: $color-silver-gray;
  text-decoration: none;

  &:hover,
  &._active {
    color: $color-white;
  }
}
