@import '../core/config';
@import '../core/utils';

.header {
  display: flex;
  width: 100%;
  height: $header-height;
  background-color: $color-dark;

  text-rendering: optimizeLegibility;
}

.header-logo {
  @include breakpoint-down(md) {
    min-width: $sidebar-width-md;
  }

  min-width: $sidebar-width;
}

.header-links-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  flex-basis: 0;
  flex-shrink: 0;
  max-width: 1024px;
}

.header-links-list__item {
  align-items: stretch;
  font-size: 18px;
  line-height: 16px;
  min-width: $base-unit * 6;
}

.header-links-list__link {
  display: block;

  padding: $base-unit * 3;
  outline: none;

  color: $color-silver-gray;
  text-decoration: none;

  &:hover,
  &._active {
    color: $color-white;
  }
}
